
h1 {
    
}
head {
    font-family: 'Silkscreen', cursive;    
}
body {
    background-color: rgb(57, 25, 118);
    font-family: 'Silkscreen', cursive;
}



.EX-logo {
    background-color:rgb(47, 20, 60); 
    padding: 25px;
}
